.App {
  background-color: #fff1dc;
  min-height: 100vh;
  display: flexbox;
}

.header {
  background-color: #3a98b9;
  height: 16vh;
  text-align: center;
  padding-top: 5vh;
  color: #fff1dc;
  font-size: 7vh;
  font-weight: bolder;
  letter-spacing: 3px;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.grid-container {
  display: grid;
  justify-content: center;
  padding: 20px;
  /* background-color: aqua; */
}

.row {
  width: 150vh;
  color: #3a98b9;
  font-weight: bolder;
}

strong {
  align-self: center;
  padding-right: 20px;
  font-size: 35px;
}

.left {
  float: left;
  padding-top: 20px;
}

.right {
  float: right;
}

.searchesNum {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: -15px;
}
