.App {
  background-color: #fff9de;
  min-height: 100vh;
}

.header {
  background-color: #a6d0dd;
  height: 16vh;
  text-align: center;
  padding-top: 5vh;
  color: white;
  font-size: 7vh;
  font-weight: bolder;
  letter-spacing: 3px;
}

.container {
  height: 60vh;
  width: 160vh;
  display: flex;
  justify-self: center;
  background-color: palevioletred;
}
